{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<h1 class="gy-5">{{ article.title }}</h1>
<p>
    <span class="" >
    {{ article.date|date:"F j, Y" }}
    </span>
    <span class="float-end" >
         просмотров: {{ article.get_views_count }}
    </span>
</p>
Читается за {{ article.get_reading_time }} минут
<img src="{{ object.cover.url }}" class="rounded mx-auto d-block img-fluid" alt="">
<p>{{ article.content|safe }}</p>
{% endblock %}
