{% extends 'base.html' %}
{% load static %}
{% load mailing_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block css_addition %}
<link rel='stylesheet' href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<!--<div>{% contact_form %}</div>-->
<div class="card shadow d-none d-md-block ">
    <img src="{% static 'img/home_cover.png' %}" class="rounded mx-auto d-block card-img" alt="">
    <div class="border-3 card-body text-dark card-img-overlay">
            <div class="opacity-75 d-none d-md-block position-absolute top-50 start-50 translate-middle quote">
            <p class="text-bg-dark position-relative p-1 border-start fst-italic font-monospace float-start card-title">
                А поутру они неизбежно проснулись<br>
                Не простудились — не замарались<br>
            </p>
            <p class="text-bg-dark position-relative m-0 p-1 border-start fst-italic font-monospace float-end card-title">
                Называли вещи своими именами<br>
                Сеяли доброе, разумное, вечное
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 py-3">
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for article in articles %}
            <a href="{% url 'article' article.slug %}" class="article">
                <div class="card border-dark">
                    <img src="{{ article.cover.url }}" class="article-img card-img" alt="">
                    <div class="card-body text-dark card-img-overlay">
                        <h3 class="p-1 border-3 border-start text-bg-dark opacity-75 float-end card-title">{{ article.title }}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
